{% extends 'base.html' %}
{% load static from staticfiles %}

{% block head %}
<title>Make a Donation</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}
 <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url('/static/img/slide-1.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      <br> 78345</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">204 </span> Mount
                      <br> Olive Road Two</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="qr">
 <img src="{% static 'qrcode.jpeg' %}" >
</div>

{% endblock %}