{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block head %}
<title>Discuss here!</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
{% endblock %}


{% block content %}
<br><br>
<div class="container post-container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Discuss Here!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" class="forum-btn">
                <button class="btn btn-outline-info forum-btn" type="submit" >Post</button>
            </div>
        </form>
</div>
</div>
{% endblock %}