{% extends 'base.html' %}
{% load static from staticfiles %}

{% block head %}
<title>Make a Donation</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}



 <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url('/static/img/donation.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                  
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<br><br><br>
<div class="container">
<h3> Help Us Grow <small>With a Small Donation</small></h3>  

</div>

<div class="container">
 <img  src="{% static 'qrcode.jpeg' %}" align ="left" width= "400px" height = "400px"><br><br>
 <h3>Scan The QR code on your left through your <strong>PayTm</strong> to Donate us a Small amount.</h3>

<br><br><h5><small>Payment is secure as we Trust PayTm.</small></h5>

</div>
<br>
<br><br><br><br>
<br><br><br><br>
<br><br><br>
<br><br><br>

{% endblock %}