{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block head %}

<title>Register Here!</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<div class="container post-container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info forum-btn" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}
