body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}


ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  font-size:1.8rem;
}

a.article-title:hover {
  color: #2eca6a;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 90px;
  width: 90px;
  margin-right: 16px;

}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-top: 3rem;
  margin-left: 20rem;
  
}

.account-heading {
  font-size: 2.5rem;
  margin-left: 15rem;
  padding: 20px;
}


#welcome{
  margin-left: 20rem;
  font-size: 20px;
}

.prof-content{
  margin-top:5rem;
  margin-left: 1rem;
}